<form class="p-3" method="POST" action="login-auth">
  
   <div class="mb-3">
    <label  class="form-label">Email</label>
    <input type="email" required name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input id="login_pass" type="password" name="password" required min=4 class="form-control" id="exampleInputPassword1">
  </div>
  <div>
  <input type="checkbox" id="togglePassword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

 <a type="submit" class="btn btn-primary" href="signup">Sign up</a>